/**
 * panel components
 */

  .p-panel .p-panel-header {
    border: 1px solid var(--border-neutral-default);
    padding: 1.25rem;
    background: var(--surface-neutral-secondary);
    color: var(--text-neutral-default);
    border-top-right-radius: var(--radius-md);
    border-top-left-radius: var(--radius-md);
  }
  .p-panel .p-panel-header .p-panel-title {
    font-weight: 700;
  }
  .p-panel .p-panel-header .p-panel-header-icon {
    width: 2rem;
    height: 2rem;
    color: var(--icon-neutral-subdued);
    border: 0 none;
    background: transparent;
    border-radius: var(--radius-full);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }
  .p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: var(--text-neutral-default);
    border-color: transparent;
    background: var(--surface-state-hover);
  }
  .p-panel .p-panel-header .p-panel-header-icon:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
  }
  .p-panel.p-panel-toggleable .p-panel-header {
    padding: 0.75rem 1.25rem;
  }
  .p-panel:has(> .p-panel-footer) .p-panel-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .p-panel .p-panel-content {
    padding: 1.25rem;
    border: 1px solid var(--border-neutral-default);
    background: var(--surface-neutral-primary);
    color: var(--text-neutral-subdued);
    border-bottom-right-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
    border-top: 0 none;
  }
  .p-panel .p-panel-footer {
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--border-neutral-default);
    background: var(--surface-neutral-primary);
    color: var(--text-neutral-subdued);
    border-top: 0 none;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1.25rem;
    border: 1px solid var(--border-neutral-default);
    color: var(--icon-neutral-subdued);
    background: var(--surface-neutral-secondary);
    font-weight: 700;
    border-radius: var(--radius-md);
    transition: box-shadow 0.2s;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    margin-right: 0.5rem;
  }
  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
  }
  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    background: var(--surface-state-hover);
    border-color: var(--border-neutral-default);
    color: var(--text-neutral-default);
  }
  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: var(--surface-neutral-secondary);
    border-color: var(--border-neutral-default);
    color: var(--text-neutral-default);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    border-color: var(--border-neutral-default);
    background: var(--surface-state-hover);
    color: var(--text-neutral-default);
  }
  .p-accordion .p-accordion-content {
    padding: 1.25rem;
    border: 1px solid var(--border-neutral-default);
    background: var(--surface-neutral-primary);
    color: var(--text-neutral-subdued);
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
  }
  .p-accordion .p-accordion-tab {
    margin-bottom: 4px;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }
  .p-fieldset {
    border: 1px solid var(--border-neutral-default);
    background: var(--surface-neutral-primary);
    color: var(--text-neutral-subdued);
    border-radius: var(--radius-md);
  }
  .p-fieldset .p-fieldset-legend {
    padding: 1.25rem;
    border: 1px solid var(--border-neutral-default);
    color: var(--text-neutral-default);
    background: var(--surface-neutral-secondary);
    font-weight: 700;
    border-radius: var(--radius-md);
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
    padding: 0;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 1.25rem;
    color: var(--text-neutral-default);
    border-radius: var(--radius-md);
    transition: box-shadow 0.2s;
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
    margin-right: 0.5rem;
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
    background: var(--surface-state-hover);
    border-color: var(--border-neutral-default);
    color: var(--text-neutral-default);
  }
  .p-fieldset .p-fieldset-content {
    padding: 1.25rem;
  }
  .p-card {
    background: var(--surface-neutral-primary);
    color: var(--text-neutral-default);
    box-shadow: var(--elevation-subtle);
    border-radius: var(--radius-md);
  }
  .p-card .p-card-body {
    padding: 1.25rem;
  }
  .p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--icon-neutral-subdued);
  }
  .p-card .p-card-content {
    padding: 1.25rem 0;
  }
  .p-card .p-card-footer {
    padding: 1.25rem 0 0 0;
  }
  .p-divider .p-divider-content {
    background-color: var(--surface-neutral-primary);
  }
  .p-divider.p-divider-horizontal {
    margin: 1.25rem 0;
    padding: 0 1.25rem;
  }
  .p-divider.p-divider-horizontal:before {
    border-top: 1px var(--border-neutral-default);
  }
  .p-divider.p-divider-horizontal .p-divider-content {
    padding: 0 0.5rem;
  }
  .p-divider.p-divider-vertical {
    margin: 0 1.25rem;
    padding: 1.25rem 0;
  }
  .p-divider.p-divider-vertical:before {
    border-left: 1px var(--border-neutral-default);
  }
  .p-divider.p-divider-vertical .p-divider-content {
    padding: 0.5rem 0;
  }
  .p-splitter {
    border: 1px solid var(--border-neutral-default);
    background: var(--surface-neutral-primary);
    border-radius: var(--radius-md);
    color: var(--text-neutral-subdued);
  }
  .p-splitter .p-splitter-gutter {
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background: var(--surface-neutral-secondary);
  }
  .p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
    background: var(--border-neutral-default);
  }
  .p-splitter .p-splitter-gutter .p-splitter-gutter-handle:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
  }
  .p-splitter .p-splitter-gutter-resizing {
    background: var(--border-neutral-default);
  }
  .p-scrollpanel .p-scrollpanel-bar {
    background: var(--surface-neutral-secondary);
    border: 0 none;
  }
  .p-scrollpanel .p-scrollpanel-bar:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
  }
  .p-tabview .p-tabview-nav {
    background: var(--surface-neutral-primary);
    border: 1px solid var(--border-neutral-default);
    border-width: 0 0 2px 0;
  }
  .p-tabview .p-tabview-nav li {
    margin-right: 0;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid var(--border-neutral-default);
    border-width: 0 0 2px 0;
    border-color: transparent transparent var(--border-neutral-default) transparent;
    background: var(--surface-neutral-primary);
    color: var(--icon-neutral-subdued);
    padding: 1.25rem;
    font-weight: 700;
    border-top-right-radius: var(--radius-md);
    border-top-left-radius: var(--radius-md);
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.2rem var(--surface-brand-overlay);
  }
  .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: var(--surface-neutral-primary);
    border-color: var(--icon-neutral-disabled);
    color: var(--icon-neutral-subdued);
  }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: var(--surface-neutral-primary);
    border-color: var(--border-state-interactive);
    color: var(--text-state-interactive);
  }
  .p-tabview .p-tabview-close {
    margin-left: 0.5rem;
  }
  .p-tabview .p-tabview-nav-btn.p-link {
    background: var(--surface-neutral-primary);
    color: var(--text-state-interactive);
    width: 3rem;
    box-shadow: var(--elevation-moderate);
    border-radius: 0;
  }
  .p-tabview .p-tabview-nav-btn.p-link:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.2rem var(--surface-brand-overlay);
  }
  .p-tabview .p-tabview-panels {
    background: var(--surface-neutral-primary);
    padding: 1.25rem;
    border: 0 none;
    color: var(--text-neutral-subdued);
    border-bottom-right-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }
